h1{


    
    
    font-size :30px;
    text-align:center;
    
    text-decoration:underline;


}

body{
background-color: brown;
background-image: url(rings.2.jpg);
text-decoration: aqua;
}
P{
    font-size: 30px;

    

}
    

forms{
    text-align: right;
}
cart.html
table, th, td {
    border: 0.5px solid black;
    background-color:yellow;

  }
    section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
         background-color: darkred;
}
          
  
  
