h1{


    
    
    font-size :30px;
    text-align:center;
    
    text-decoration:underline;


}

body{
background-color: brown;
background-image: url(rings.2.jpg);
text-decoration: aqua;
}
P{
    font-size: 30px;

    

}
    

forms{
    text-align: right;
}


